/* Menu */

.osahan-menu-fotter {
  padding: 0px !important;
}

.osahan-menu-fotter .row {
  margin: 0px;
}

.osahan-menu-fotter .col {
  padding: 0px;
}

.osahan-menu-fotter .col a {
  padding: 12px;
  display: block;
}

.osahan-menu-fotter .col a p {
  font-size: 19px;
}

.osahan-menu-fotter .col.selected a {
  color: #dc3545;
  background: #f8f9fa;
}

.osahan-menu-fotter .col.selected p {
  color: #dc3545;
}

.osahan-menu-fotter .col.bg-white.rounded-circle.mt-n4.px-3.py-2 {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  margin: -15px 0 0 0 !important;
}

.osahan-menu-fotter .col.bg-white.rounded-circle.mt-n4.px-3.py-2 a {
  width: 68px;
  color: #fff !important;
  height: 68px;
  font-size: 27px !important;
  padding: 16px;
}